{% if include.paginator.total_pages > 1 %}

  <ul class="browse-navigation">

    {% if include.paginator.previous_page %}
      <li class="nav previous">
        <a href="{{ include.paginator.previous_page_path | prepend: site.baseurl }}">&lt;</a>
      </li>
    {% else %}
      <li class="nav previous disabled">&lt;</li>
    {% endif %}

    {% if include.paginator.page_trail[0].num > 1 %}
      <li class="nav first">
        <a href="{{ include.permalink | prepend: site.baseurl }}">1</a>
      </li>
      <li class="nav disabled">&hellip;</li>
    {% endif %}

    {% for trail in include.paginator.page_trail %}
      {% if include.paginator.page == trail.num %}
        <li class="nav page active">{{ trail.num }}</li>
      {% else %}
        <li class="nav page">
          <a href="{{ trail.path | prepend: site.baseurl }}">{{ trail.num }}</a>
        </li>
      {% endif %}
    {% endfor %}

    {% if include.paginator.page_trail[-1].num < include.paginator.total_pages %}
      <li class="nav disabled">&hellip;</li>
      <li class="nav page last">
        <a href="{{ include.permalink | append: include.paginator.total_pages | prepend: site.baseurl }}">{{include.paginator.total_pages}}</a>
      </li>
    {% endif %}

    {% if include.paginator.next_page %}
      <li class="nav next">
        <a href="{{ include.paginator.next_page_path | prepend: site.baseurl }}">&gt;</a>
      </li>
    {% else %}
      <li class="nav next disabled">&gt;</li>
    {% endif %}

  </ul>

{% endif %}