<h3>{{ site.data.strings.sidebars.search.heading }}</h3>
<div>
  <input type="search" id="search-bar-input" class="search-input"/>
    <script src="{{ site.baseurl }}/js/lib/docs-searchbar.min.js"></script>
    <script>
      docsSearchBar({
        hostUrl: '{{ site.meilisearch_host_url }}',
        apiKey: '{{ site.meilisearch_api_key }}',
        indexUid: 'website',
        inputSelector: '#search-bar-input',
        debug: false, // Set debug to true if you want to inspect the dropdown
      })
    </script>
</div>
